include ./mixins/_picture.pug

doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")

		title GEO Map Maker
		meta(name="description", content="A fully on-line custom world-map maker. Editor to generate world chart maps with countries in custom colors.")
		meta(rel="canonical", href="https://geomapmaker.com")

		meta(property='og:type' content='website')
		meta(property='og:title' content='Geo Map Maker. Generate a PNG or SVG World Map in seconds')
		meta(property='og:description' content='87 projections to choose from, various datasets and custom options.')
		meta(property='og:image' content='/images/geo-map-maker.png')
		meta(property='og:url' content='https://geomapmaker.com')
		meta(property='og:site_name' content='GEO Map Maker')

		meta(name='twitter:card' content='summary')
		meta(name='twitter:site' content='@gazeoftime')
		meta(name='twitter:title' content='Geo Map Maker')
		meta(name='twitter:description' content='Generate a PNG or SVG World Map in seconds. 87 projections to choose from, various datasets and custom options.')
		meta(name='twitter:image' content='https://geomapmaker.com/images/tw-img.png')

		link(rel='icon' type='image/png' href='/images/favicon.png')

		include ./analytics.html

	body.dark-mode-off
		#app.app
			aside.tools-wrapper
				form#tools.tools.vertical
					h1 GEO Map Maker <em>beta</em>
					
			.canvas
				main.map
					svg(data-map, width="1920", height="968")

				aside.panels-wrapper
					form#panels.panels.horizontal