svg {
    width: auto;
    height: 100%;
    max-height: 80vh;
}

text {
    font-family: $font-family, Helvetica, Arial, sans-serif;
    font-size: 10px;
    text-align: center;
    font-weight: 900;
}

.group- {

    path {
        
    }
        
    &sphere path {
        fill: #80c2ec;
    }

    &land path {
        stroke: none;
        fill: black;
    }

    &countries path, &languagefamilies path {
        fill: transparent;
        stroke-width: .3px;
        stroke: black;

        &:hover path {
            fill-opacity: 0;
        }
    }

    &graticule path {
        fill: none;
        stroke: rgba(white, .5);
        stroke-width: .4px;
    }
}