.vertical {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
}
.horizontal {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
    overflow-x: auto;
}
h1 {
    font-size: 28px;
    letter-spacing: 0.06em;
    margin: 0 $gap $gap/2;
    padding: $gap*1.5 0 $gap/2;
    border-bottom: 1px solid $shadow-1;
}
fieldset {
    margin: 0;
    padding: 0 0 $gap * 0.4;
    border: none;

    & > h3 {
        font-size: inherit;
        font-weight: 700;
        letter-spacing: 0.06em;
        margin: 0 $gap $gap/2;
        padding: $gap 0 0;
    }

    .vertical & {

        &:nth-child(odd) {
            border: 1px solid $shadow-1;
            border-right: none;
            border-left: none;
        }
        
        &:first-child {
            padding-top: $gap*2;
        }

        &.break {
            margin-top: auto;
        }
    }

    .horizontal & {
        display: flex;
        gap: $gap;
        padding: $gap;

        &.break {
            margin-left: auto;
        }
    }
}
.item {
    display: flex;
    flex-wrap: wrap;
    gap: $gap/4;
    align-items: center;
    
    img {
        flex: 0 0 auto;
    }

    .vertical & {
        margin-bottom: $gap * 0.6;
        padding: 0 $gap;
    }

    &-type-color {
        justify-content: space-between;

        input {
            width: 23px;
        }
    }

    &.item-type-datalist {
        margin-bottom: 0;
    }
}
.item-type-checkbox {
    gap: $gap/2;
}
label {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    user-select: none;

    & > * {

    }
}
input[type=text], select, button {
    padding: $gap/2;
    width: 100%;
    border-radius: 5px;
}
input[type=color] {
    background-color: transparent;
}
button {
    color: $background;
    padding: $gap*0.75 $gap;
    background-color: $primary;
    border: none;
    transition: opacity .2s ease;
    cursor: pointer;

    &:hover, &:active {
        opacity: .9;
    }
}

.item-type-color {
    label {
        flex: 1 0 0;
    }
}

.item-type-range {
    position: relative;

    label {
        width: 100%;
    }
    input[type='range'] {
        width: 100%;
    }
}