* {
    box-sizing: border-box;
}

html, body {
    font-family: $font-family, Helvetica, Arial, sans-serif;
    font-size: $font-size;
    color: $text;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: $background;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-titles;
    font-size: inherit;
    font-weight: 400;
    margin: 0;    
}

h1 {
    font-size: 28px;
    letter-spacing: 0.06em;
    margin: 0 $gap;
    padding: $gap*1.5 0 $gap/2;
    border-bottom: 1px solid $shadow-1;
}

input, select, textarea {
    font-size: 16px;
    margin: 0;
    border-color: $text;
}