// colors

:root {
  --font-size: 16px;

  --primary: #0075FF; // #6da9ce;
  --text: #3e4850;
  --penumbra: #5e707e;
  --background: #fefefe;
  --shadow: #F0F5F8;
  --shadow-1: #e3e9ec;

  --shadow-intensity: 0.05;

  --font-family: 'Open Sans', sans-serif, Helvetica, Arial, sans-serif;
  --font-titles: 'Kufam', sans-serif;
}

@mixin dark-mode {
  --primary: #F7E6B1;
  --text: #fff;
  --background: #333;
  --shadow: #222;
  --shadow-1: #444;
  
  --shadow-intensity: .1;
}

@media (prefers-color-scheme: dark) {
  :root {
    @include dark-mode;
  }
}

body.dark-mode {
  @include dark-mode;
}

$primary: var(--primary);
$text: var(--text);
$background: var(--background);
$shadow: var(--shadow);
$shadow-1: var(--shadow-1);

$gap: 1rem;

// typography

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kufam:wght@300;400;700&display=swap');

$font-family: var(--font-family);
$font-titles: var(--font-titles);

$font-size: var(--font-size);


// media queries

$big-mobile-width: 580px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin small {
	@media (max-width: 350px) {
	  @content;
	}
}
@mixin mobile {
	@media (max-width: #{$big-mobile-width - 1}) {
	  @content;
	}
}
@mixin big-mobile {
  @media (min-width: #{$big-mobile-width}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}